/* .comments_container {

}
.comments {
  background-color:beige;
  color: black;
  border-radius: 25px;
  
}

.comments h1 {
  position: absolute;
}
 */

 .comments {
  display: flex;
  flex-direction: column;
  background-color: beige;
  color: black;
  border-radius: 25px;
  padding: 10px;
  align-items: flex-start;
}

.comments h1 {
  margin: 0;
  font-size: 1.2em;
}

.dateOfComment {
  margin: 0 0 10px 0;
  font-size: 0.9em;
}

.mailOfComment{
  margin: 0 0 10px 0;
  font-size: 0.8em;
}

.textOfComment{
  margin: 0;
  font-size: 1em;
}
